manifest {
    mainScript = 'dammit.nf'
}

// default parameters

params {
    cores = '8'
    memory = '12'
    help = false
    profile = false

    // inputs
    fasta = ''
    list = false

    // databases
    busco = 'fungi_odb9'

    // folder structure
    output = 'results'

    // optional profile configurations, only necessary for HPC execution
    workdir = "/tmp/nextflow-work-$USER"
    cloudDatabase = false
    cachedir = false
}

profiles {
  
    local { 
        params.cloudProcess = false
        params.cloudDatabase = false
        workDir = params.workdir
        includeConfig 'configs/local.config' }

    docker { 
        includeConfig 'configs/docker.config' }

    singularity {
        includeConfig 'configs/singularity.config' }

    conda { 
        includeConfig 'configs/conda.config' }

    lsf { 
        params.cloudProcess = true
        includeConfig 'configs/lsf.config' }
      
    // Google Cloud Platform profiles -- adjust accordingly for your GCP project configuration
    gcloudMartinPrivate { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://databases-matrice/reconstruct-strains-eukaryotic'
        bucketDir = 'gs://matrice/reconstruct-strains-eukaryotic'
        workDir = "/tmp/nextflow-work-$USER"
        google {  project = 'nextflow-auto-255816'; zone = 'europe-west1-b' }  
        includeConfig 'configs/googlegenomics.config' }
   
} 
